{{>layout/header}}

<div class="container">
    <h1>Post Submit</h1>
    <div class="col-md-4">
        <form>
            <div class="mb-3">
                <label for="title">Title</label>
                <input type="text" class="form-control" id="title" placeholder="Title">
            </div>
            <div class="mb-3">
                <label for="author">Author</label>
                <input type="text" class="form-control" id="author" placeholder="Author">
            </div>
            <div class="mb-3">
                <label for="content">Content</label>
                <textarea type="text" class="form-control" id="content" placeholder="Content"></textarea>
            </div>
        </form>
        <a href="/" role="button" class="btn btn-secondary">Cancel</a>
        <button type="submit" class="btn btn-primary" id="btn-save">Submit</button>
    </div>
</div>
{{>layout/footer}}